/* ---- Base Element Styles ---- */
* {
    box-sizing: border-box;
}
body {
    background-color: #fdf7f5;
    font-family: 'Karla', sans-serif;
    color: #222;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link, a:visited { 
    color: #222;
    text-decoration: none;
    cursor: auto;
  }
a:hover, a:active {
    color: #4954c0;
  }
h1, h2, h3 {
    color: #222;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
p, ul, h5, label, input, textarea, button, footer {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0;
}
h5 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}
label {
    text-transform: uppercase; 
    font-size: 0.8em;
    font-weight: 500;
}

/* ---- Navigation ---- */
.nav {
	padding-top: .5em;
	padding-bottom: .5em;
    background-color: #fff;
}
.nav,
.main-nav {
    display: flex;
}
.nav {
    flex-direction: column;
    align-items: center;
}
.logo-name {
	font-weight: 500;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.logo-name,
.main-nav a {
	text-align: center;
	display: block;
	padding: 5px 20px;
}
.main-nav a {
	font-size: 1em;
    font-weight: 500;
	color: #222222;
}
.main-nav a:hover {
	color: #4954c0;
}

/* ---- Layout ---- */
.page-wrapper{
    width: 100%;
    margin: 0 auto;
}
#about-container, #contact-container {
    width:100%;
    height: auto;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-container{
    position:relative;
}
#about-background{
    position:absolute;
    width: 100%;
    min-height: 300px;
    top: 0;
    left:0;
    
    background-image: url("../img/bg-pattern.jpg");
    background-position: 0px 0px;
    background-size: 300px;
    /* background-color:#d87d63; */
}
#about-wrapper{
    width: 100%;
    margin-top: 30px;
    z-index: 10;
}
#about-wrapper, #contact-wrapper {
    width: 100%;
    max-width: 800px;
}
#my-photo {
    width: 100%;
    max-width: 450px;
    padding: 0 2%;
    margin: 0 auto;
}
#about, #skills, #messages{
    margin-top: 30px;
}
#contact, #message{
    margin-top: 100px;
}
#contact {
    margin-bottom: 50px;
}
.skills-list{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.skills-list li {
    color: #d87d63;
    font-weight: 400;
    padding: 0.2em 0.4em;
    margin: 0 0.5em;
    border: 2px solid #d87d63;
    border-radius: 0.1em;
}
#contact-wrapper a {
    text-decoration: underline;
}
#social-container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-icon{
    width: 50px;
    height: auto;
}

/* ---- Contact Form ---- */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea, .input-wrapper {
    width:100%;
    max-width: 400px;
    margin: 0 auto;
}
input, textarea {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
}
.submit-btn {
    width: 250px;
    max-width: 250px;
    height: 50px;
    background-color: #4954c0;
    color: white;
    border: none;
    font-weight: 500;
    text-transform: uppercase; 
}
/* #divider {
    width: 100px;
    height: 3px;
    background-color: #d87d63;
    margin: 30px auto;
} */
#leave-message {
    padding: 60px 0;
}

footer {
    background-color:#fdf7f5;
    text-align: center;
    margin-top: 80px;
    padding: 20px 0;
    
}

button {
    border: none;
    
}

@media (min-width: 1025px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
}